.backdrop {
  position: fixed;
  visibility: visible;
  opacity: 1;
  z-index: 999;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;

  transition: opacity 250ms $transform-timing-function, visibility 250ms $transform-timing-function;
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: $whitetext-color;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition: transform 250ms $transform-timing-function;
}
.backdrop--is-hidden .backdrop__content {
  transform: translate(-50%, -50%) scale(2);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__label {
  align-self: flex-start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  cursor: pointer;
}
.modal-form__field-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-form__field-wrapper--textarea {
  margin-bottom: 20px;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid $modal-input-border;
  border-radius: 4px;
  padding-left: 42px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $blacktext-color;
  cursor: pointer;

  transition: border 250ms $transform-timing-function;

  &:focus {
    border: 1px solid var(--accent-color);
    outline: none;
  }
}
.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: $title-text-color;
  transition: fill 250ms $transform-timing-function;
}
.modal-form__textarea {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid $modal-input-border;
  border-radius: 4px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $blacktext-color;
  cursor: pointer;

  transition: border 250ms $transform-timing-function;

  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: $modal-form-txt-color;
  }
}
.modal-form__agreement-wrapper {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
}
.modal-form__agreement-label {
  @include centeredFlex;
  cursor: pointer;
}
.modal-form__check-box {
  &:focus + .modal-form__custom-checkbox {
    outline: $accent-color solid 1px;
  }
  &:checked + .modal-form__custom-checkbox {
    fill: $whitetext-color;
    background-color: $accent-color;
    border: none;
  }
}
.modal-form__custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  fill: none;
  margin-right: 7px;

  transition: fill 250ms $transform-timing-function,
    background-color 250ms $transform-timing-function, border 250ms $transform-timing-function;
}
.modal-form__license-link {
  color: $accent-color;
}
.modal-form__submit-button {
  &:hover,
  &:focus {
    background-color: $modal-btn-hover-color;
  }
}
.backdrop__close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.backdrop__close-icon {
  position: absolute;

  fill: $blacktext-color;
  transition: fill 250ms $transform-timing-function;

  &:hover .close-icon,
  &:focus .close-icon {
    fill: $accent-color;
  }
}
